<!-- begin post -->
<div class="col-lg-4 col-md-6 mb-30px card-group">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ .Permalink }}">
                {{$images := .Resources.ByType "image"}}
                {{with $images.GetMatch "*cover*" }}
                    <img class="img-fluid" src="{{ .Permalink }}" alt="A thumbnail image">
                {{end}}                
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <h4 class="card-text">{{ .Summary }}</h4>            
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                {{ if (eq .Params.coach true) }}
                    <img alt="Coach" src="https://img.shields.io/badge/Coach-green?style=flat">  &nbsp;
                {{ end }}
                {{ if (eq .Params.delegue true) }}
                    <img src="https://img.shields.io/badge/D%C3%A9l%C3%A9gu%C3%A9-orange?style=flat" alt="Délégué" /> &nbsp;
                {{ end }}
                {{ if (isset .Params "distance") }}
                    📏 {{ .Params.distance }} km &nbsp;
                {{ end }}
                {{ if (isset .Params "elevation") }}
                    ↗️ {{ .Params.elevation }} m &nbsp;
                {{ end }}
                {{ if ( eq .Params.cote true) }}
                    ⛰️ Côte &nbsp;
                {{ end }}
                {{ if ( eq .Params.circular true) }}
                    🔄 Circulaire &nbsp;
                {{ end }}
                {{ if (isset .Params "racedate") }}
                    📅 {{ dateFormat "2 January 2006" .Params.racedate }} <br>
                {{ end }}
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
</div>
<!-- end post -->
